body {
  background-color: black;

}

h1 {
  height: 75px;
  margin: 15px;
  border: 2px solid red;
  font-size: 50px;
  font-family: fantasy;
  text-align: center;
  color: red;

}

h2 {
  font-size: 25px;
  font-family: fantasy;
  text-align: center;
  color: red;

}

h3 {
  font-family: fantasy;
  color: red;

}

img {
  width: 450px;
  height: 450px;
  text-align: center;
  float: right;
}

p {
  color: white;
}

li {
  color: red;
}

.important {
  font-family: fantasy;
  color:red;
  text-align: center;
}

a:hover {
  background-color: yellow;
}
