#jumbo-index {
  height: 400px;
  margin-top: 1cm;
  background-position: center;
  background-repeat: repeat-y;
  background-size: 1200px 600px;
  
}

#jumbo-project {
  height: 400px;
  margin-top: 1cm;
  background-position: center;
}

#jumbo-about {
  height: 400px;
  margin-top: 1cm;
}

h1 {
  padding-top: 2cm;
  font-weight: bold;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;

}

h2 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;

}

.panel > .panel-heading {
  text-align: center;
  background-image: none;
  background-color: #595959;
  color: white;

}

.panel > .panel-body {
  background-color: #e6e6e6;
}

p {
  font-size: 15px;
}

img {
  height: 450px;
  width: 450px;
  
}

.pis {
  font-weight: bold;
}